
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DashBoard";
}

<body>
    <div id="intro" class="view">
        <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-10">
                        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
                            Машины
                        </h2>
                        <hr class="hr-light">
                        <h4 class="white-text my-4">История машин</h4>
                        <button class="btn btn-outline-white waves-effect waves-lights">Read More <i class="fa fa-book"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>