html,body,header,#intro,#gallery{
	height: 100%;
}
#intro{
	background: url(../img/overlays/ba1.jpg);
	-webkit-background-size: cover;
	background-size: cover;

}
#gallery{
	background: url(../img/overlays/ba2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
#text{
	font-size: 100px;
}